:root {
    --wd: 800px;
    --c0: #000;
    --c1: #fff;
    --c2: #f00;
    --ft: Arial, Helvetica, Sans-serif;
}

body, html {
    margin: 0; padding: 0;
    width: var(--wd); height: 100%;
    background-color: var(--c0);
    color: var(--c1);
    font-family: var(--ft);
    font-size: 1.05em;
    margin: auto;
}

input {
    background-color: var(--c0);
    color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

#login #box {
    display: block;
    width: 250px;
    padding: 15px;
    border: 1px solid var(--c1);
    border-radius: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#login #box .title {
    text-align: center;
}

#login #box #error {
    color: var(--c2);
}

#domains {
    width: var(--wd);
    padding-bottom: 20px;
}

#domains table {
    margin: auto;
}

#domains th {
    display: none;
}

#domains td {
    padding: 15px;
    padding-left: 0;
    max-width: calc( var(--wd)/3 );
    word-break: break-word;
}

#domains .pm {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

#domains .nodes {
    text-align: right;
}

#domains .title {
    font-size: 1.5rem;
}

#domains .hidden_row {
    display: none;
}

#domains .hidden_row td {
    padding-left: 30px;
    border-left: 1px solid #eee;
}

#domains .type {
    border-left: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}