:root {
    --wd: 800px;
    --c0: #222;
    --c1: #ccc;
    --c2: #f55;
    --c3: #5ae;
    --ft: Arial, Helvetica, Sans-serif;
}

body, html {
    margin: 0; padding: 0;
    width: var(--wd); height: 100%;
    background-color: var(--c0);
    color: var(--c1);
    font-family: var(--ft);
    font-size: 1.05em;
    margin: auto;
}

body {
    border: 1px solid var(--c1);
    border-width: 0 1px 0 1px;
}

input {
    background-color: var(--c0);
    color: var(--c1);
    border: 1px solid var(--c1);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

a, a:visited {
    color: var(--c3);
}

.error {
    color: var(--c2);
}

#login #box {
    display: block;
    width: 250px;
    padding: 15px;
    border: 1px solid var(--c1);
    border-radius: 15px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#login #box .title {
    text-align: center;
}

#login #box #error {
    color: var(--c2);
}

#navbar {
    --padding: 10px;

    border-bottom: 1px solid var(--c1);
    width: calc( 100% - var(--padding)*2 );
    padding: var(--padding);
}

#navbar #logout {
    color: var(--c2);
}

#navbar a {
    margin-right: 10px;
}

#navbar p {
    float: right;
    margin: 0;
}

#content {
    width: 100%;
    padding: 10px;
}

/*#domains {
    width: var(--wd);
    padding-bottom: 20px;
}

#domains table {
    margin: auto;
}

#domains th {
    display: none;
}

#domains td {
    padding: 15px;
    padding-left: 0;
    max-width: calc( var(--wd)/3 );
    word-break: break-word;
}

#domains .pm {
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

}

#domains .nodes {
    text-align: right;
}

#domains .title {
    font-size: 1.5rem;
}

#domains .hidden_row {
    display: none;
}

#domains .hidden_row td {
    padding-left: 30px;
    border-left: 1px solid #eee;
}

#domains .type {
    border-left: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
} */